<!-- /.modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-success">
                <button type="button" class="close" ng-click="abortDelete()" aria-hidden="true">×</button>
                <h1><i class="glyphicon glyphicon-calendar"></i> Verwijderen gebruiker</h1>
            </div>
            <div class="modal-body">
                    <p>Weet u zeker dat u deze gebruiker wilt verwijderen?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right delete-btn" style="margin-right:10px;" ng-click="deleteUserConfirmed(chosenUser)">Verwijder</button>
                <button type="button" class="btn btn-default pull-right" style="margin-right:10px;" ng-click="abortDelete()">Annuleer</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="UsersLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-success">
                <button type="button" class="close" ng-click="abortUser()" aria-hidden="true">×</button>
                <h1><i class="glyphicon glyphicon-calendar"></i> {{chosenUser.title}}</h1>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="userForm" role="form">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Gebruiker details</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Voornaam</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Voornaam" name="firstName" class="form-control" ng-model="chosenUser.firstName" required>
                                <p ng-show="userForm.firstName.$invalid && submitted" class="help-block">Voornaam is verplicht.</p>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Achternaam</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="Achternaam" name="lastName"  class="form-control" ng-model="chosenUser.lastName" required>
                                <p ng-show="userForm.lastName.$invalid && submitted" class="help-block">Achternaam is verplicht.</p>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Email</label>
                            <div class="col-sm-8">
                                <input type="email" placeholder="Email"  name="Email" class="form-control" ng-model="chosenUser.email" required>
                                <p ng-show="userForm.Email.$invalid && submitted" class="help-block">Ongeldige email.</p>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Telefoon</label>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Telefoonnummer" name="Phone" class="form-control" ng-minlength="10" ng-model="chosenUser.phoneNumber" required>
                                <p ng-show="userForm.Phone.$invalid && submitted" class="help-block">Ongeldig telefoonnummer.</p>
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Straat</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="Straat" name="street"  class="form-control" ng-model="chosenUser.street" required>
                                <p ng-show="userForm.street.$invalid && submitted" class="help-block">Straatnaam is verplicht.</p>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
                            <div class="col-sm-8">
                                <input type="email" placeholder="Postcode"  name="zipcode" class="form-control" ng-model="chosenUser.zipcode" required>
                                <p ng-show="userForm.zipcode.$invalid && submitted" class="help-block">Ongeldige postcode.</p>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Plaats</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="Plaats"  name="city" class="form-control" ng-model="chosenUser.city" required>
                                <p ng-show="userForm.city.$invalid && submitted" class="help-block">Ongeldige plaatsnaam.</p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" style="margin-right:10px;" ng-click="saveUser(chosenUser)">Wijzig</button>
                <button type="button" class="btn btn-default pull-right" style="margin-right:10px;" ng-click="abortUser()">Sluit</button>
                <button type="button" class="btn btn-default pull-left delete-btn" style="margin-right:10px;" ng-click="deleteUser()">Verwijder</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div>
    <div ng-include="'menu.html'"></div>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="bg-cyan">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

        <div class="fr">
            <h2>Klanten <small>Beheer en wijzig uw klanten</small></h2>
        </div>
        <span class="glyphicon glyphicon-dashboard bg-fade"></span>

        <div class="title center-align">
            <h1>Klanten</h1>
        </div>
        <div class="row center-align">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
            <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
                <div class="pull-right">
                    <button ng-click="filter($event)" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table" id="myTable">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Voornaam" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Achternaam" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Telefoon" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Plaats" disabled></th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in users">
                    <tr>
                        <td style="text-align:left;">{{user.email}}</td>
                        <td style="text-align:left;">{{user.firstName}}</td>
                        <td style="text-align:left;">{{user.lastName}}</td>
                        <td style="text-align:left;">{{user.phoneNumber}}</td>
                        <td style="text-align:left;">{{user.city}}</td>
                        <td><span class="glyphicon glyphicon-search" ng-click="openUser(user)"></span></td>
                    </tr>
                    
                </tbody>
                
            </table>
            <div paging
                page="1" 
                page-size="50" 
                total="length"
                paging-action="loadNew('test',page)"
                show-prev-next="true"
                show-first-last="true">
                </div> 
        </div>
            </div>
        </div>
        <p class="center-align" style="margin-top:40px;margin-bottom:40px;">
            <a class="btn btn-primary btn-lg btn-white" ui-sref="overview">Terug naar overzicht</a>
        </p>
    </snap-content>
</div>
